<div class="container">
  <div class="row">
    <div class="col-auto">
      <h2>Exercise</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <h3>Add a New Exercise:</h3>

      <form class="form new-exercise-form">
        <div class="form-group">
          <label for="exercise-name">Exercise Name:</label>
          <input class="form-control" type="text" id="exercise-name" name="exercise-name" />
        </div>
        <div class="form-group">
        <label for="exercise-start">Exercise start time:</label>
          <input
            id="exercise-start"
            type="datetime-local"
            name="exercise-start"/>
        </div>
        <div class="form-group">
        <label for="exercise-end">Exercise end time:</label>
          <input
            id="exercise-end"
            type="datetime-local"
            name="exercise-end"/>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Add Exercise</button>
        </div>
      </form>
    </div>

    {{#if exercises.length}}
    <div class="col-md-6 exercise-list">
      <h3>Past Exercises:</h3>

      {{#each exercises as |exercise|}}
      <div class="row mb-2">
        <div class="col-md-8">
          <h4>{{exercise.exercise_name}}</h4>
          <p>{{format_date exercise.date_time_start}}</p>
          <p>Time exercising: {{totaltime exercise.date_time_start exercise.date_time_end}}</p>
        </div>
        <div class="col-md-4">
          <button class="btn btn-sm btn-danger" data-id="{{exercise.id}}">DELETE</button>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
</div>
<script src="./js/exercise.js"></script>
