<div class="row mb-4 project">
  <div class="col-md-5">
    {{#if logged_in}}
      <h1 class="mb-4">Welcome back, {{first_name}}!</h1>
      <div class="d-flex flex-column">
        <a href="/meals" class="btn btn-primary mb-2">Meals</a>
          <div class="chart-container my-5 w-50">
          <canvas id="meal-chart" width="800" height="200"></canvas>
          </div>
        <a href="/exercises" class="btn btn-primary mb-2">Exercise</a>
          <div class="chart-container my-5">
          <canvas id="exercise-chart" width="800" height="200"></canvas>
          </div>
        <a href="/sleeps" class="btn btn-primary mb-2">Sleep</a>
          <div class="chart-container my-5">
          <canvas id="sleep-chart" width="800" height="200"></canvas>
          </div>
      </div>

    
    {{else}}
    <h1>
      Welcome to the Fitness Tracker app
    </h1>
    <p>
      Please sign in or sign up in the top right corner
    </p>
    {{/if}}
  </div>
  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css">
  <!--  chart.js  -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="./js/charts.js"></script>
 
</div>


