 <div class="row mt-4">
    <div class="col-md-6">
      <h3>Log Your Sleep:</h3>

      <form class="form new-sleeps-form">
        
        <div class="form-group">
          <label for="quality-of-sleep">Quality of Sleep:</label>
          <select class="form-control" id="quality-of-sleep" name="quality-of-sleep">
            <option value="poor">Poor</option>
            <option value="fair">Fair</option>
            <option value="good">Good</option>
            <option value="excellent">Excellent</option>
          </select>
        </div>
        <div class="form-group">
        <label for="sleep-start">Sleep Start time:</label>
          <input
            id="sleep-start"
            type="datetime-local"
            name="sleep-start"/>
        </div>
        <div class="form-group">
        <label for="sleep-end">Sleep End time:</label>
          <input
            id="sleep-end"
            type="datetime-local"
            name="sleep-end"/>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>

    <div class="col-md-6 sleeps-list">
      <h3>Your Sleep Logs:</h3>

      {{#each sleep as |sleep|}}
      <div class="row mb-2">
        <div class="col-md-8">
          <p> {{format_date sleep.date_time_start}}: {{sleep.sleep_quality}}</p>
          <p>Sleep Duration: {{totaltime sleep.date_time_start sleep.date_time_end}}</p>
        </div>
        <div class="col-md-4">
          <button class="btn btn-sm btn-danger" data-id="{{sleep.id}}">DELETE</button>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
<script src="./js/sleep.js"></script>